
@import "tailwindcss";
* {
    box-sizing: content-box; 
}

html {
    scroll-behavior: smooth;
}

@theme {
    /*Font-------------------------*/
      --font-satoshi: var(--font-satoshi), ui-sans-serif, system-ui;
      --font-outfit: var(--font-outfit), sans-serif;
      --font-ArraySemiBold: var(--font-ArraySemiBold);
  /* Al ponerlos aquí, Tailwind v4 crea automáticamente las clases bg-main-bg, text-main-text, etc. */
    /*Color-------------------------*/
        --color-main-bg: #0B0B0B;
        --color-main-text: #f3f4f6;
        --color-primary: #6c6c6d83;
        --color-hover: #cec9c957;
        --color-border: #e4e4e48c;
        /*ParticleSphere*/
        --color-light-verde: #82f050;/**/
        --color-verdeLima:#89F336;/**/
        --color-purple: #A036F3;/**/
        

        
        
}

:root:not(.dark) {
  --color-main-bg: #e0e0de;
  --color-main-text: #111010;
  --color-border: #7777772a;
  --color-primary: #c4c4c583;
  --color-hover: #b1b1b193;

}

body {
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  transition: background-color 0.3s, color 0.3s; /* Para que el cambio sea suave */
}